/* --------------------------------

多媒體與遊戲設計系 第六屆 主視覺

-------------------------------- */


/* --------------------------------

css內容

01. reset
02. font & reset css
03. Grid
04. about
05. offers
06. sponsor
07. visitor
08. contact
09. footer

-------------------------------- */
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    font-weight: 400;
    background-color: #f8f9fa;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #2a2a2a;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul {
    margin-bottom: 0px;
}


/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
/* 仿宋體字體 */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css");
/* 圓體字體 */
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

@import url();

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/

html,
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
}

p {

    font-size: 16px;
    line-height: 1.5;
    color: #4a4a4a;
}


::selection {
    background: #ee8d8d;
    color: #f8f9fa;
}

::-moz-selection {
    background: #ee8d8d;
    color: #f8f9fa;
}

@media (max-width: 991px) {

    html,
    body {
        overflow-x: hidden;
    }

    .mobile-top-fix {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .mobile-bottom-fix {
        margin-bottom: 30px;
    }

    .mobile-bottom-fix-big {
        margin-bottom: 60px;
    }
}


/* 
---------------------------------------------
            通用
--------------------------------------------- 
*/

.section {
    padding: 100px 0;
    min-height: 100vh;

}

.content-title {
    overflow: hidden;
    color: #ee8d8d;
    text-align: center;
    margin-bottom: 43px;
}


.title-en {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: normal;
}

.title-zh {
    font-family: 'cwTeXFangSong', serif;
    font-size: 1.75em;
    font-weight: 600;
}


/* 
---------------------------------------------
            header start
--------------------------------------------- 
*/
.navbar {
    transition: all 0.4s;
}

.navbar img {
    width: 127px;
    height: auto;
}

.navbar .nav-link {
    color: #666;
}

.navbar .nav-link:hover {
    color: #ee8d8d;
}

.navbar .navbar-collapse.show {
    margin-top: 10px;
}

.navbar .navbar-collapse.show .nav-item {
    margin: 4px 0;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}


.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #ee8d8d;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
    }

    .navbar .navbar-brand,
    .navbar .nav-link:active {
        color: #555;
    }

}


.header .banner {
    background-color: #f5d9de;
    height: 100vh;
}

/* 
---------------------------------------------
            mainvisual start
--------------------------------------------- 
*/
:root {
    --pink-main-bg: url(../images/main-thumb-bg-01.jpg);
    --black-main-bg: url(../images/main-thumb-bg-02.jpg);
    --pink-img: url(../images/main-thumb-o1.jpg);
    --black-img: url(../images/main-thumb-o2.jpg);
    --pink-btn-icon: "\f186";
    --black-btn-icon: "\f185";
    --pink-title-text-color: #ee8d8d;
    --black-title-text-color: #3BA0BC;

}

#mainvisual,
#sponsor {
    -webkit-background-image: var(--pink-main-bg);
    -moz-background-image: var(--pink-main-bg);
    background-image: var(--pink-main-bg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

/*pink style*/
#mainvisual .section-content {
    background-color: #ffffffb2;
    padding: 60px 30px;
    border-radius: 25px;
}

#mainvisual .left-content .main-img {
    width: 100%;
    height: 400px;
    background-image: var(--pink-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 30px;
    transition: .3s;
}

#mainvisual .left-content .main-img .main-icon-bg .fas::before {
    content: var(--pink-btn-icon);
    color: var(--black-title-text-color);
    font-family: 'FontAwesome';
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #f8f9fa;
    font-weight: normal;
    font-size: 24px;
    padding: 8px;
    border-radius: 50%;
}

#mainvisual .content-title {
    overflow: hidden;
    color: var(--pink-title-text-color);
    text-align: center;
    margin-bottom: 43px;
}

#mainvisual .main-content-desc span::before {
    content: "";
    position: absolute;
    top: 50%;
    background: var(--pink-title-text-color);
    width: 36px;
    height: 2px;
    left: 0;
}

#mainvisual .main-content-btn {
    position: relative;
    padding: 7px 20px;
    max-width: 120px;
    max-height: 38px;
    text-align: center;
    transition-duration: .3s;
    border: 2px solid #ee8d8d;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;
}

#mainvisual .main-content-btn a {
    color: #ee8d8d;
    font-weight: 600;
}

#mainvisual .main-content-btn:hover {
    background-color: #ee8d8d;
    transition: .3s;
}

#mainvisual .main-content-btn:hover>a {
    color: #f8f9fa;
}

#mainvisual .main-content-btn::after,
#mainvisual .main-content-btn::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    display: block;
    width: 2px;
    background-color: #ee8d8d;
}

/*black style*/
#mainvisual.night {
    background-image: var(--black-main-bg);
    transition: .3s;
}

#mainvisual.night .left-content .main-img {
    background-image: var(--black-img);
    transition: .3s;
}

#mainvisual.night .left-content .main-img .main-icon-bg .fas::before {
    content: var(--black-btn-icon);
    color: var(--pink-title-text-color);
}

#mainvisual.night .content-title {
    color: var(--black-title-text-color);
}

#mainvisual.night .main-content-desc span::before {
    background: var(--black-title-text-color);
}

#mainvisual.night .main-content-btn {
    border: 2px solid var(--black-title-text-color);
}

#mainvisual.night .main-content-btn a {
    color: var(--black-title-text-color);
}

#mainvisual.night .main-content-btn:hover {
    background-color: var(--black-title-text-color);
}

#mainvisual.night .main-content-btn::after,
#mainvisual.night .main-content-btn::before {
    background-color: var(--black-title-text-color);
}

/*不需要動到的*/
#mainvisual .left-content .main-img {
    position: relative;
}

#mainvisual .left-content .main-img .main-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#mainvisual .main-content-desc {
    width: 100%;
}

#mainvisual .main-content-desc p {
    margin-bottom: 27px;
    line-height: 24px;
    font-weight: 600;
}

#mainvisual .main-content-desc p {
    margin-bottom: 27px;
    line-height: 24px;
    font-weight: 600;
}

.main-content-desc span {
    display: block;
    font-size: 1.25em;
    position: relative;
    padding-left: 46px;
    font-weight: 600;
}

#mainvisual .main-content-btn::after {
    right: -12px;
}

#mainvisual .main-content-btn::before {
    left: -12px;
}

#mainvisual .main-content-btn:hover>a {
    color: #f8f9fa;
}


@media (max-width: 992px) {
    #mainvisual .left-content .main-img {
        height: 320px;
    }

    #mainvisual .left-content .main-img .main-icon-bg .fas::before {
        right: 10px;
        bottom: 10px;
    }
}

@media (max-width: 768px) {
    #mainvisual .left-content .main-img {
        height: 280px;
    }

    #mainvisual .left-content .main-img .main-icon-bg .fas::before {
        right: 10px;
        bottom: 10px;
    }
}

/* 
---------------------------------------------
            offers start
--------------------------------------------- 
*/
#offers .section-content {
    padding: 60px 0;
}

#offers .content-tab {
    margin-bottom: 40px;
}

#offers .tab {
    cursor: pointer;
    font-size: 1.125em;
    font-weight: 600;
    color: #ee8d8d;
}

#offers .tab:hover {
    color: #66acbc;
}

.tab-icon {
    margin-bottom: 4px;
}


#offers .card {
    background-color: #f8f9fa;
    margin-bottom: 30px;
}

#offers .card .card-body {
    padding: 0;
    margin: 0;
}

#offers .card .card-body .overlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 107px);
    background: #ffd0d070;
    transition: .5s ease;
    opacity: 0;

}

#offers .card .card-body .overlayer .circle-bg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #f8f9fa;
    z-index: 1;
    margin: 25% auto;

}

#offers .card .card-body .overlayer .circle-bg i {
    margin: 28% 30%;
    color: #ee8d8d;
}

#offers .card .card-body:hover .overlayer {
    opacity: 1;
}




#offers .card .card-footer {
    background-color: #f8f9fa;
    padding: 10px 20px 20px 20px;

}

#offers .card .card-footer h4 {
    line-height: 1;
    font-weight: 600;
}

#offers .card .card-footer .team-name,
#offers .card .card-footer .team-tag {
    float: left;
    width: 100%;
    margin: 10px 0;
}


#offers .card .card-footer .team-tag .tag-txt {
    font-size: 14px;
    display: inline;
    padding: 6px 12px;
    background-color: #ffd0d0;
    color: #2a2a2a;
    border-radius: 20px;
    margin-right: 6px;
}

/* 
---------------------------------------------
            sponsor start
--------------------------------------------- 
*/

#sponsor .section-content {
    background-color: #ffffffb2;
    padding: 60px 0;
}

#sponsor .sponsor-img {
    margin-bottom: 20px;
}

/* 
---------------------------------------------
            contact start
--------------------------------------------- 
*/

#contact {
    background-image: url(../images/contact-thumb-bg.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

#contact .contact-left {
    color: #f8f9fa;
}

#contact .contact-left h2 {
    font-weight: 600;
}

#contact .contact-left h4 {
    margin: 20px 0;

}

#contact .contact-left .phone,
#contact .contact-left .message {
    color: #2a2a2a;
    background-color: #f8f9fa;
    border-radius: 5px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#contact .contact-left .phone p,
#contact .contact-left .message p {
    line-height: 1;
}


#contact .contact-left .phone h4,
#contact .contact-left .message h4 {
    margin: 20px 0;
    font-weight: bold;
}

#contact .contact-left .phone i,
#contact .contact-left .message i {
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    color: #f8f9fa;
    background-color: #ee8d8d;
    border-radius: 50%;
    font-size: 24px;
    margin-top: -35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



#contact .contact-right #my-form {
    padding: 45px 30px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

#contact .contact-right #my-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

#contact .contact-right #my-form input,
#contact .contact-right #my-form textarea,
#contact .contact-right #my-form select {
    color: #2a2a2a;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    width: 100%;
    height: 46px;
    border-radius: 5px;
    outline: none;
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 15px;
}

#contact .contact-right #my-form textarea {
    height: 150px;
    resize: none;
    padding: 20px;
}

#contact .contact-right #my-form button {
    margin-top: 10px;
    font-size: 13px;
    color: #f8f9fa;
    background-color: #ee8d8d;
    padding: 12px 25px;
    width: 100%;
    box-shadow: none;
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    transition: all .3s;
}

#contact .contact-right #my-form button:hover {
    background-color: #ffd0d0;
}




/* 
---------------------------------------------
modal
--------------------------------------------- 
*/

.modal-header .modal-title {
    font-weight: bold;
    color: #444;
}

.modal-body .modal_title_text {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 800;
}

.modal_info_text {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.Group_member .member_1 {
    margin-bottom: 10px;
}

.Group_member .member_2 {
    margin-bottom: 10px;
}

.instructor {
    margin-bottom: 10px;
}

.modal-body .right-text-content {
    text-align: left;
    margin-top: 10px;
}


.modal-body .right-text-content ul li {
    display: inline-block;
    margin-left: 15px;
}

.modal-body .right-text-content ul li:first-child {
    margin-left: 0px;
}

.modal-body .right-text-content ul li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    background-color: #EF8B8B;
    border-radius: 50%;
    color: #fff;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}